:root {
    //colors
    --bcg-color1: #1e1e24;
    --bcg-color2: #1f1e1b;

    --acc-color1: #a35709;
    --acc-color2: #ff8303;

    --font-color1: #f0e3ca;
    --font-color2: rgba(240, 227, 202, 0.64);
}