.notes_listWrapper {
  margin-bottom: 40px;
}

.notes_table {
  width: 100%;

  border-spacing: 0 20px;
  color: var(--font-color1);
  margin-top: 20px;
  font-size: 18px;
}

.notes_table th,
.notes_table td {
  padding: 10px;
  background-color: var(--bcg-color2);
  text-align: center;
}

.notes_table th {
  background-color: var(--acc-color1);
  font-weight: bold;
}

tr.editable {
  outline: 1px solid var(--acc-color1);
}

.notes_table input[type='text'],
.notes_table select {
  width: 100%;
  background-color: transparent;
  color: var(--font-color1);
  border: none;
  outline: none;
  font-size: 20px;
  text-align: center;

  border-bottom: 1px solid var(--font-color2);
}

.notes_table input[readonly],
.notes_table select:disabled {
  text-decoration: none;
  font-size: 18px;
  border: none;
}

.notes_table select {
  background: transparent;
  width: 150px;
  appearance: none;
  opacity: 1;
}

.notes_table button {
  background-color: var(--acc-color1);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.notes_table button.notes_editButton.editable {
  background-color: var(--acc-color2);
}

//buttons
.notes_archiveAllButton,
.notes_deleteAllButton {
  background-color: var(--acc-color1);
  color: var(--font-color1);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.addNoteButton {
  background-color: var(--acc-color1);
  color: var(--font-color1);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;

  &:hover {
    background-color: var(--acc-color2);
    color: var(--bcg-color1);
  }
}

.notes_editButton,
.notes_archiveButton,
.notes_deleteButton,
.notes_archiveAllButton,
.notes_deleteAllButton {
  width: 40px;
  height: 40px;
}

.notes_editButton {
  background: url('./assets/icons/icon_edit.svg') center center no-repeat;
}

.notes_archiveButton,
.notes_archiveAllButton {
  background: url('./assets/icons/icon_archive.svg') center center no-repeat;
}

.notes_deleteButton,
.notes_deleteAllButton {
  background: url('./assets/icons/icon_delete.svg') center center no-repeat;
}

// Category icons
.notes_category_icon {
  width: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
}

.notes_category_icon.Task {
  background-image: url('./assets/icons/icon_task.svg');
}

.notes_category_icon.Idea {
  background-image: url('./assets/icons/icon_idea.svg');
  background-size: 40px;
}

.notes_category_icon.Random {
  background-image: url('./assets/icons/icon_other.svg');
}
