.editable {
  outline: 1px solid var(--acc-color1);
}

// Category icons
.notesCategoryIcon {
  width: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
}

.Task {
  background-image: url('../../assets/icons/icon_task.svg');
}

.Idea {
  background-image: url('../../assets/icons/icon_idea.svg');
  background-size: 40px;
}

.Random {
  background-image: url('../../assets/icons/icon_other.svg');
}

.notesTableButton {
  margin: 5px;
  background-color: var(--acc-color1);
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.notesEditButton {
  background-image: url('../../assets/icons/icon_edit.svg');
}

.notesArchiveButton {
  background-image: url('../../assets/icons/icon_archive.svg');
}

.notes_deleteButton {
  background-image: url('../../assets/icons/icon_delete.svg');
}

// не виводить іконку на рандом, немає фільтру, архівації та додавань/видалень
